<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sale manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("SaleManager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand mb-1" })
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="active">
                    @Html.ActionLink("Домашняя страница", "Index", "Home", new { area = "" }, new { @class = "nav-item nav-link" })
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Меню
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <ul>
                                <li>
                                    @Html.ActionLink("Покупатели", "Index", "Customer")
                                </li>
                                <li>
                                    @Html.ActionLink("Товары", "Index", "Product")
                                </li>
                                <li>
                                    @Html.ActionLink("Заказы", "Index", "Order")
                                </li>
                                <li> 
                                    @Html.ActionLink("Менеджеры", "Index", "Manager")
                                </li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>
            <div class="row">
                <div class="col-auto">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </nav>

    <div class="container my-3">
        @RenderBody()
    </div>

    <footer class="footer mt-auto  bg-light text-lg-center text-center">
        <div class="text-center p-1">
            <p class="text-dark">&copy; @DateTime.Now.Year - Sale Manager</p>
        </div>
    </footer>

</body>
</html>
