@model Task5.Models.Filters.CustomerFilter
@{
    ViewBag.Title = "Index";
}

<div>
    <h4 class="mi">Filter customer</h4>
    <hr />

    @using (Ajax.BeginForm("Customers", new AjaxOptions { UpdateTargetId = "customersTable" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.NickName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.NickName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.PhoneNumber)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-10">
                    <input type="submit" value="Search" class="btn btn-success border border-dark rounded-pill" />
                    <input type="button" id="clear" value="Reset" class="btn btn-secondary border border-dark rounded-pill" />
                </div>
            </div>
        </div>      
    }
    <div id="customersTable">
    </div>
    <section id="customerDetailsSection">
        <div id="customerDetails"></div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        getCustomers();
    });

    $("#clear").on("click", function () {
        $('#NickName').val('');
        $('#PhoneNumber').val('');
            getCustomers();
     });


    function getCustomers() {
        jQuery.ajax(
            {
                url: "@Url.Action("Customers", "Customer")",
                data: { page:@ViewBag.CurrentPage},
                type: "GET",
                success: function (data, textStatus, XHR) {
                    jQuery("#customersTable").html(data);
                },
                dataType: "html"
            }
        );
    }

    showCustomerDetails = function () {
        $("#customerDetails").show();
    }

    hideCustomerDetails = function () {
        $("#customerDetails").hide();
        $("#customerDetails").html(null);
    }

</script>


